{
   "extends": "eslint:recommended",
   "env": {
      "browser": false,
      "node": true,
      "es6": true
   },
   "rules": {
      "no-console": 0,
      "strict": "error",
      "no-var": "error",
      "prefer-const": "error",
      "no-undef": "error",
      "no-unused-vars": "error",
      "indent": ["error", 3],
      "quotes": ["error", "single"],
      "semi": ["error", "always"]
   },
   "globals": {
      "describe": true,
      "it": false,
      "beforeEach": true,
      "before": true,
      "xit": false,
      "afterEach": true
   }
}